<div class="col form-control" (mouseleave)="showDropDown = false" (click)="showDropDown=!showDropDown">
  <span *ngIf="checkedList.length<=0">{{placeholder}}</span>
  <span *ngIf="checkedList.length>0">{{checkedList.join(', ')}}</span>
  <i class="fa fa-angle-down"></i>

  <div class="drop-show" *ngIf="showDropDown">
    <div class="row" (click)="$event.stopPropagation()">
      <label *ngFor="let a of list">
          <input type="checkbox" [(ngModel)]="a.checked" 
              (change)="getSelectedValue(a.checked,a.name)" />
          <span>{{a.name}}</span>
      </label>
    </div>
  </div>

  <div>